gdown
huggingface-hub==0.30.2
imgviz==1.7.6
numpy==2.0.2
opencv-python==4.11.0.86
pycocotools==2.0.8
safetensors==0.5.3
scikit-image==0.24.0
scipy==1.13.1
segment_anything==1.0
six==1.17.0
supervision==0.25.1
sympy==1.14.0
timm==1.0.15
tokenizers==0.21.1
tomli==2.2.1
torch==2.7.0
torchvision==0.22.0
transformers==4.51.3
yapf==0.43.0
zipp==3.21.0
